<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.brother_demo">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- For Wi-Fi -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For Bluetooth -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
</manifest>
